.animal-container{
    text-align: left;
    padding: 40px;
}

.animal-item{
    display: flex;
    padding: 2rem; 
    gap: 2rem;
    min-height: 300px;
    align-items: flex-start;
}

.animal-text{
    display: flex;
    flex-direction: column;
    height: 300px;        
}

.animal-text h2 {
    margin: 0;        /* I don't know why it adds such a big space without this */
}

hr {
  border: none; 
  height: 7px; 
  background-color: #234155; 
}

.animal-thumb{
    width: 300px;
    height: 300px;
    border-radius: 0 !important;
    object-fit: cover;
}

.learn-more{
    margin-top: auto;
}

.animal-image{
    position: relative;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto; 
}

.animal-logo-circle{
    position: absolute;
    top: -30px;
    right: -30px;

    width: 120px;
    height: 120px;

    background: #5895bb;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.animal-logo{
    width: 105px;
    height: 105px;
    object-fit: contain;
}
