.animal-container{
    text-align: left;
    padding: 40px;
}

.animal-item{
    display: flex;
    padding-top: 2rem; 
    padding-right: 2rem; 
    gap: 2rem;
    height: fit-content;
    align-items: flex-start;
    padding-bottom: 1rem;
    border-bottom: 3px solid #234155;
}

.animal-text{
    display: flex;
    flex-direction: column;
    min-height: 300px;        
}

.animal-text h2 {
    margin: 0;        /* I don't know why it adds such a big space without this */
}

.animal-name{
    font-weight: bold;
}

.animal-title{
    margin-top: 0;
    margin-bottom: 0;
    color: #5895bb;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.animal-description{
    margin-top: 0rem;
}

.char-button{
    width: fit-content;
    margin-bottom: 1rem;
}

.animal-thumb{
    width: 300px;
    height: 300px;
    border-radius: 0 !important;
    object-fit: cover;
}

.learn-more{
    margin-top: auto;
    margin-bottom: 1rem;
}

.animal-image{
    position: relative;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto; 
}

.animal-logo-circle{
    position: absolute;
    top: -30px;
    right: -30px;

    width: 120px;
    height: 120px;

    background: #5895bb;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.animal-logo{
    width: 105px;
    height: 105px;
    object-fit: contain;
}
