.animal-container{
    text-align: left;
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
}

.our-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.our-animal-name{
    margin: 0;
}

.animals-list{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 2rem;
    align-items: start;
    position: relative;
}

.animals-list::before{ /*vertical line*/
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #234155;
    transform: translateX(-50%);
}

.animal-wrapper::after{ /*horizonal line*/
    content: "";
    position: absolute;
    left: -2rem;
    right: -2rem;
    bottom: 0rem;
    height: 2px;
    background: #234155;
}

.animal-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

}

.animal-wrapper:nth-last-child(-n+2)::after{ 
    display: none;
}

.animal-item{
    display: flex;
    padding: 1.5rem 5% 0 0;
    gap: 1rem;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.animal-item button{
    width: auto;
    max-width: 13rem;
    min-width: 179px;
}

.animal-text{
    display: flex;
    flex-direction: column;   
}

.our-animal-name{
    font-weight: bold;
}

.our-animal-title{
    margin-top: 0;
    margin-bottom: 0;
    color: #5895bb;
    font-style: italic;
    font-size: 30px;
}

.animal-description{
    margin-top: 1rem;
}


.animal-thumb{
    width: 20vw;
    height: 20vw;
    border-radius: 0 !important;
    object-fit: cover;
}

.animal-image{
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-self: flex-start;
    justify-content: center;

    margin-left: auto; 
}

.animal-logo-circle{
    position: absolute;
    top: -30px;
    right: -30px;

    width: 100px;
    height: 100px;

    /*background: #5895bb;*/
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.animal-wrapper:nth-child(5n+5) .animal-logo-circle { background: #5895bb; } 
.animal-wrapper:nth-child(5n+4) .animal-logo-circle { background: #96c97c; } 
.animal-wrapper:nth-child(5n+1) .animal-logo-circle { background: #9ad2db; } 
.animal-wrapper:nth-child(5n+3) .animal-logo-circle { background: #d54f53; } 
.animal-wrapper:nth-child(5n+2) .animal-logo-circle { background: #b46441; } 

.animal-logo{
    width: 85px;
    height: 85px;
    object-fit: contain;
}

@media (max-width: 900px) {  

.animals-list{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
    align-items: start;
    position: relative;
}

.animals-list::before{ /*vertical line*/
    display: none;
}
.animal-wrapper:nth-last-child(-n+2)::after{ /*second to last appear still*/
    display: flex;
}

.animal-wrapper:nth-last-child(-n+1)::after{ /*last does not appear*/
    display: none;
}

.animal-thumb{
    width: 25vw;
    height: 25vw;
    min-height: 200px;
    min-width: 200px;
    border-radius: 0 !important;
    object-fit: cover;
}
  
}