.animal-header{            
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 3rem; 
}

.animal-title{
  display: flex;
  align-items: flex-end;
  height: 10rem;
}

.animal-name{
  margin-left: 1rem;
}

.animal-info {
    width: 50%;
    display:flex;
    flex-direction: column;
}

.polaroid {
  margin-top: 5rem;
  position: relative;
  width: 22rem;
  height: 26rem;
  background-color: white;
  border: 1px solid black;
}

.polaroid-img{
  margin-top: 1rem;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border: 1px solid black;
}

.polaroid-title{
  margin-top: 12px;
  color: #5895bb;
  font-family: 'Caveat', cursive;
  font-size: 32px;
}

.traits{
  border-right: 3px solid #ddd;
}

.traits-header{
  font-size: 24px;
}

.animal-understand{
  width: calc(50% + 22rem + 50px);
  margin-left: calc((100% - (50% + 22rem + 50px)) / 2);
}

 /*img {
  width: 400px;                
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  flex-shrink: 0; 
} */



@media (max-width: 768px) { /*mobile stuff to do more and change later */
  img {
    width: 50%;        
    max-width: 350px;    
    margin: 0 auto;      
  }
}