
.share-card {
    width: 400px;
    height: 500px;
    background: beige;
}

.share-margin{
    padding-top: 5px!important;
}

.share-text{
    margin: 0px;
    padding: 0;
    font-size: 20pt;
}

.share-image-wrapper{
    border-radius: 50%;
    z-index: 10;
    left: 140px;
    margin-top: 10px;
    position: absolute;
}

.share-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.trait-item-share{
    border-radius: 24px;
    padding: 0.6rem;
    width: 130px;
    font-size: 15pt;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.share-traits{
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.middle-trait{
    position:absolute;
    z-index: 5;
    margin-left: 115px;
    padding-top: 110px;
}

.likes-dislikes{
    padding-top: 35px;
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

.ld-item{
    background-color: white;
    width: 170px;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid black;
}